<div class="c-counter">

  <div class="text-center">
    <button type="button" class="time btn mr-2">
      Hours <br> <span class="badge badge-light">{{HH | number : '2.0-0'}}</span>
    </button>
    <button type="button" class="time btn mr-2">
      Minutes <br> <span class="badge badge-light">{{MM | number : '2.0-0'}}</span>
    </button>
    <button type="button" class="time btn mr-2">
      Seconds <br> <span class="badge badge-light">{{SS | number : '2.0-0'}}</span>
    </button>
  </div>

  <br>

  <div class="progress text-center">
    <div class="progress-bar" [ngClass]="percentage<20 ? 'bg-danger' : 'bg-info'" role="progressbar" [style.width]="percentage + '%'">{{percentage | number : '2.0-0'}} %</div>
  </div>

  <br>

  <div class="c-btn-group text-center">
    <input type="button" value="stop" [disabled]="stopButtonDisable" class="btn btnbtn btn-secondary mr-2" (click)="stopCounter()">
    <input type="button" value="start" [disabled]="startButtonDisable" class="btn btnbtn btn-secondary mr-2" (click)="startCounter()">
    <input type="button" value="reset" [disabled]="resetButtonDisable" class="btn btnbtn btn-secondary mr-2" (click)="resetCounter()">
  </div>
</div>
