<div class="app mx-auto mt-4" style="width: 360px; height: 200px;">
<form>
  <div *ngIf="!showCountdown" class="form-group">
    <label for="minuteInput">Minutes: </label>
    <input
      [(ngModel)]="inputToChild"
      class="form-control"
      id="minuteInput"
      name="minutes"
      type="number"
      min="0"
      max="9999"
      placeholder="Enter minutes..."
    >
  </div>


  <button
    type="submit"
    class="btn btn-info"
    (click)="startCounter()"
  >
    {{showCountdown ? "<= back" : "Show Timer"}}
  </button>
  </form>

  <app-counter
    *ngIf="showCountdown"
    [minutes]="inputToChild"
  ></app-counter>
</div>
